{:paths ["script"]
 :deps {borkdude/gh-release-artifact
        #_{:local/root "../gh-release-artifact"}
        {:git/url "https://github.com/borkdude/gh-release-artifact"
         :git/sha "ce060c12a25b552b864dc90f8fb344a2eb91ea9d"}
        }
 :tasks {extract (shell "script/extract-var-info")
         test (shell "script/test")
         bump-release (shell "script/bump_version release")
         bump-post-release (shell "script/bump_version post-release")
         release-artifact clj-kondo.release-artifact/release
         quickdoc {:doc "Invoke quickdoc"
                   :extra-deps {io.github.borkdude/quickdoc {:git/sha "32e726cd6d785d00e49d4e614a05f7436d3831c0"}}
                   :task (exec 'quickdoc.api/quickdoc)
                   :exec-args {:git/branch "master"
                               :github/repo "https://github.com/clj-kondo/clj-kondo"
                               :source-paths ["src/clj_kondo/core.clj"]}}
         extract:java-members {:doc "Extract information about Java members"
                               :task (clojure "-X:extract" "clj-kondo.impl.extract-java-members/exec")}}}
