{:paths ["src" "resources"]
 :deps {rewrite-clj {:mvn/version "0.6.1"}
        com.cognitect/transit-clj {:mvn/version "0.8.313"}}
 :aliases {:native-image
           {:jvm-opts [#_"-Dclojure.compiler.direct-linking=true"]
            :main-opts ["-m clj.native-image clj-kondo.main"
                        "-H:Name=clj-kondo"
                        "-H:+ReportExceptionStackTraces"
                        "-J-Dclojure.spec.skip-macros=true"
                        "-J-Dclojure.compiler.direct-linking=true"
                        "-H:IncludeResources=clj_kondo/impl/cache/built_in/.*/.*transit.json$"
                        "-H:Log=registerResource:"
                        "--verbose"
                        "-J-Xmx3g"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "498baa963e914fd817dbf33ea251729efd0c8f95"}}}
           :test
           {:extra-deps
            {test-runner
             {:git/url "https://github.com/cognitect-labs/test-runner"
              :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}
             clj-commons/conch {:mvn/version "0.9.2"}}
            :extra-paths ["test"]
            :main-opts ["-m" "cognitect.test-runner"]}
           :profiler
           {:extra-deps
            {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.3.1"}}
            :extra-paths ["test"]
            :main-opts ["-m" "clj-kondo.profile"]}
           :javadoc
           {:extra-paths ["classes"]
            :main-opts ["-m" "clj-kondo.Doclet"]}
           :cljs
           {:extra-deps
            {org.clojure/clojurescript {:mvn/version "1.10.520"}}}}
 ;; NOTE: build with clojure -A:native-image --verbose
 ;; see: https://github.com/taylorwood/clj.native-image
 }
