{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Installation" {:file "doc/install.md"}]
  ["Running on the JVM" {:file "doc/jvm.md"}]
  ["Running with Docker" {:file "doc/docker.md"}]
  ["Configuration" {:file "doc/config.md"}]
  ["Types" {:file "doc/types.md"}]
  ["Analysis data" {:file "analysis/README.md"}]
  ["Editor integration" {:file "doc/editor-integration.md"}]
  ["Developer documentation" {:file "doc/dev.md"}]
  ["Building from source" {:file "doc/build.md"}]]}
