[[conj 0 :other #{:coll} #{:vector}]
 [dedupe 0 :other #{:transducer} #{:fn}]
 [distinct 0 :other #{:transducer} #{:fn}]
 [drop 1 :other #{:transducer} #{:fn}]
 [drop-while 1 :other #{:transducer} #{:fn}]
 [every-pred :varargs :other #{:ifn} #{:fn}]
 [filter 1 :other #{:transducer} #{:fn}]
 [flatten 1 :other #{:sequential} #{:seq}]
 [fnil 2 :other #{:ifn} #{:fn}]
 [fnil 3 :other #{:ifn} #{:fn}]
 [fnil 4 :other #{:ifn} #{:fn}]
 [format :varargs :spec-misses-nil #{:string} #{:nilable/string}]
 [interpose 1 :other #{:transducer} #{:fn}]
 [into 0 :other #{:coll} #{:vector}]
 [juxt :varargs :other #{:ifn} #{:fn}]
 [keep 1 :other #{:transducer} #{:fn}]
 [keep-indexed 1 :other #{:transducer} #{:fn}]
 [map 1 :other #{:transducer} #{:fn}]
 [map-indexed 1 :other #{:transducer} #{:fn}]
 [mapcat 1 :other #{:transducer} #{:fn}]
 [nat-int? 1 :spec-misses-nil #{:boolean} #{:nil :boolean}]
 [neg-int? 1 :spec-misses-nil #{:boolean} #{:nil :boolean}]
 [partition-all 1 :other #{:transducer} #{:fn}]
 [partition-by 1 :other #{:transducer} #{:fn}]
 [pos-int? 1 :spec-misses-nil #{:boolean} #{:nil :boolean}]
 [simple-ident? 1 :spec-misses-nil #{:boolean} #{:nil :boolean}]
 [simple-keyword? 1 :spec-misses-nil #{:boolean} #{:nil :boolean}]
 [simple-symbol? 1 :spec-misses-nil #{:boolean} #{:nil :boolean}]
 [some-fn :varargs :other #{:ifn} #{:fn}]
 [str :varargs :spec-misses-nil #{:string} #{:nilable/string}]
 [subs 2 :spec-misses-nil #{:string} #{:nilable/string}]
 [subs 3 :spec-misses-nil #{:string} #{:nilable/string}]
 [take 1 :other #{:transducer} #{:fn}]
 [take-nth 1 :other #{:transducer} #{:fn}]
 [take-while 1 :other #{:transducer} #{:fn}]]
