{:spec-is-more-general
 [[conj 0 #{:coll} #{:vector}]
  [every-pred :varargs #{:ifn} #{:fn}]
  [flatten 1 #{:sequential} #{:seq}]
  [fnil 2 #{:ifn} #{:fn}]
  [fnil 3 #{:ifn} #{:fn}]
  [fnil 4 #{:ifn} #{:fn}]
  [into 0 #{:coll} #{:vector}]
  [juxt :varargs #{:ifn} #{:fn}]
  [some-fn :varargs #{:ifn} #{:fn}]],
 :spec-is-more-precise
 [[dedupe 0 #{:transducer} #{:fn}]
  [distinct 0 #{:transducer} #{:fn}]
  [drop 1 #{:transducer} #{:fn}]
  [drop-while 1 #{:transducer} #{:fn}]
  [filter 1 #{:transducer} #{:fn}]
  [interpose 1 #{:transducer} #{:fn}]
  [keep 1 #{:transducer} #{:fn}]
  [keep-indexed 1 #{:transducer} #{:fn}]
  [map 1 #{:transducer} #{:fn}]
  [map-indexed 1 #{:transducer} #{:fn}]
  [mapcat 1 #{:transducer} #{:fn}]
  [partition-all 1 #{:transducer} #{:fn}]
  [partition-by 1 #{:transducer} #{:fn}]
  [take 1 #{:transducer} #{:fn}]
  [take-nth 1 #{:transducer} #{:fn}]
  [take-while 1 #{:transducer} #{:fn}]],
 :inference-widens-interop-string
 [[format :varargs #{:string} #{:nilable/string}]
  [str :varargs #{:string} #{:nilable/string}]
  [subs 2 #{:string} #{:nilable/string}]
  [subs 3 #{:string} #{:nilable/string}]]}
