[{:end-row 517,
  :type :redundant-fn-wrapper,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/src/nextjournal/clerk/analyzer/impl.clj",
  :col 17,
  :end-col 37,
  :langs (),
  :message "Redundant fn wrapper",
  :row 517}
 {:clj-kondo.impl/fn-has-first-arg true,
  :end-row 222,
  :type :destructured-or-always-evaluates,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/src/nextjournal/clerk/render/code.cljs",
  :col 31,
  :end-col 52,
  :langs (),
  :message "Default :or value is always evaluated",
  :row 222}
 {:end-row 222,
  :type :destructured-or-always-evaluates,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/src/nextjournal/clerk/render/code.cljs",
  :col 32,
  :end-col 52,
  :langs (),
  :message "Default :or value is always evaluated",
  :row 222}
 {:clj-kondo.impl/fn-has-first-arg false,
  :end-row 6,
  :type :destructured-or-always-evaluates,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/src/nextjournal/clerk/render/panel.cljs",
  :col 38,
  :end-col 41,
  :langs (),
  :message "Default :or value is always evaluated",
  :row 6}
 {:clj-kondo.impl/fn-has-first-arg false,
  :end-row 6,
  :type :destructured-or-always-evaluates,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/src/nextjournal/clerk/render/panel.cljs",
  :col 56,
  :end-col 59,
  :langs (),
  :message "Default :or value is always evaluated",
  :row 6}
 {:clj-kondo.impl/fn-has-first-arg false,
  :end-row 57,
  :type :destructured-or-always-evaluates,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/src/nextjournal/clerk/render/panel.cljs",
  :col 95,
  :end-col 98,
  :langs (),
  :message "Default :or value is always evaluated",
  :row 57}
 {:clj-kondo.impl/fn-has-first-arg false,
  :end-row 57,
  :type :destructured-or-always-evaluates,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/src/nextjournal/clerk/render/panel.cljs",
  :col 111,
  :end-col 114,
  :langs (),
  :message "Default :or value is always evaluated",
  :row 57}
 {:end-row 67,
  :type :redundant-fn-wrapper,
  :level :warning,
  :filename
  "test-regression/checkouts/clerk/test/nextjournal/clerk/viewer_test.clj",
  :col 25,
  :end-col 52,
  :langs (),
  :message "Redundant fn wrapper",
  :row 67}]
