[{:end-row 110,
  :type :unresolved-symbol,
  :level :error,
  :filename
  "test-regression/checkouts/ductile/dev/ductile/insights/monitor_notifications.clj",
  :col 137,
  :end-col 138,
  :langs (),
  :message "Unresolved symbol: x",
  :row 110}
 {:end-row 5,
  :type :deprecated-namespace,
  :level :warning,
  :filename
  "test-regression/checkouts/ductile/dev/ductile/insights/utils.clj",
  :col 14,
  :end-col 30,
  :langs (),
  :message "Namespace io.pedestal.test is deprecated since 0.8.0.",
  :row 5}
 {:end-row 17,
  :type :deprecated-var,
  :level :warning,
  :filename
  "test-regression/checkouts/ductile/dev/ductile/insights/utils.clj",
  :col 5,
  :end-col 35,
  :langs (),
  :message "#'io.pedestal.test/response-for is deprecated since 0.8.0",
  :row 12}
 {:end-row 19,
  :type :type-mismatch,
  :level :error,
  :filename
  "test-regression/checkouts/ductile/test/integration/cron_test.clj",
  :col 18,
  :end-col 44,
  :langs (),
  :message "Expected: string, received: boolean.",
  :row 19}
 {:end-row 38,
  :type :type-mismatch,
  :level :error,
  :filename
  "test-regression/checkouts/ductile/test/unit/ductile/truck_booking/queue_test.clj",
  :col 11,
  :end-col 70,
  :langs (),
  :message "Expected: string, received: boolean.",
  :row 38}]
