{lint-as-config {:arities {1 {:args [:map]}}}
 merge-config! {:arities {2 {:args [:nilable/map :nilable/map]
                            :ret :nilable/map}}}
 fq-syms->vecs {:arities {1 {:args [:seqable]
                             :ret :seqable}}}}
