{reg-finding!
 {:arities {2 {:args [{:op :keys
                       :req {:findings :atom}}
                      {:op :keys
                       :req {:filename :string
                             :row :int
                             :col :int
                             :type :keyword
                             :message :string}}]
               :ret :nil}}}}
