{reg-finding! {:arities {2 {:args [:atom {:type :map
                                          :req {:filename :string
                                                :row :int
                                                :col :int
                                                :type :keyword
                                                :message :string}}]}}}}
